body {
  height: 100vh;
  width: 375px;
  margin: 0 auto;
  font-family: "Kumbh Sans", sans-serif;
  background: url(../images/bg-pattern-bottom.svg) bottom -550px right -750px
      no-repeat,
    url(../images/bg-pattern-top.svg) top -600px left -750px no-repeat;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-size: 13px;
  margin: 0;
  color: hsl(227, 10%, 46%);
}

.stats-copy,
.span-copy {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  padding-bottom: 0.35em;
}
.age {
  font-size: 18px;
  padding-left: 0.35rem;
}
.location {
  font-size: 16px;
  padding-top: 0.5em;
}

.container {
  width: 95%;
  margin: 2em auto;
  text-align: center;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
}
.card-header {
  width: 100%;
  height: 140px;
  background: url("images/bg-pattern-card.svg");
}

.user-img {
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 1em;
  border: 6px solid #fefefe;
}
.stats {
  display: flex;
  justify-content: space-around;
  border-top: 0.25px solid HSL(91, 0%, 91%);
  margin: 2em 0 0;
  padding: 2em;
}

footer {
  text-align: center;
  font-size: 16px;
}
