/* font-family: 'Josefin Sans', sans-serif; */

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: var(--desaturated-red);
  margin: 0;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 10px;
  line-height: 1.1;
}
h1 span {
  font-weight: 600;
  color: var(--dark-grayish-red);
}

p {
  line-height: 1.5;
  margin-bottom: 2em;
  font-weight: 400;
}
main {
  text-align: center;
  margin: 2em;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 25%;
  margin-left: 2.25em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.hero-mobile {
  width: 100%;
}
.hero-desktop {
  display: none;
}
form div {
  display: flex;
  justify-content: center;
}

.label-error {
  position: relative;
}

.label-error:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("images/icon-error.svg") center / contain no-repeat;
}

.input-active {
  width: 100%;
  padding: 1.25em;
  padding-right: 50px;
  margin-bottom: 0;
  border-radius: 100px;
  border: 1px solid rgba(206, 151, 151, 0.5);
  background: transparent;
}
.input-error {
  width: 100%;
  padding: 1.25em;
  padding-right: 50px;
    margin-bottom: 0;

  border-radius: 100px;
  border: 2px solid var(--soft-red);
  background: transparent;
}

.active {
  padding: 0.75em 2.15em;
  background-color: var(--desaturated-red);
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 100px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(206, 151, 151, 0.5);
}


.error {
    padding: 0.75em 2.15em;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 100px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(206, 151, 151, 0.7);
}

#message {
    display: none;
    color: var(--soft-red);
    margin-top: 0;
    font-size: 0.8rem;
    text-align: left;
    margin: 0.5rem 3rem;
}



button:hover {
  box-shadow: 0 0.5rem 1rem rgba(29, 16, 16, 0.7);
}

::placeholder {
  color: var(--desaturated-red);
  opacity: 0.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
